### General
exp_id = "wclassification_wccsa"
dataset = "toy"
primary_dataset = "ham"  
gpu = "0"  
print_freq = 50 
num_workers = 16  # number of threads used for data loading
rand_seed = 30
visdom = True
test_mode = 0

### Optimization Options
batch_size = 32  # batch_size
weight_decay = 1e-3 # weight decay
lr = 1e-4  # learning rate 
epochs = 100 # num training epochs
lr_step = [45, 90] # epochs to reduce lr

### Model Options
arch = "resnet18"
n_classes = 5  # number of classes in the dataset
pretrained = True

### File Paths
save_path = "~/iccsa/artifacts/" # log path
data_path = "~/BiSICL/data/skin/" # path to raw data
split_path = "~/iccsa/splits/" # path to store cv splits
retrain = ""
resume = ""

### Experiment Options
num_secondary = -1 # Number of secondary data / class, -1 is all
removed_dataset = -1 # -1 indicates none removed
mode = "train" # options: train
